---
Language: Cpp
ColumnLimit: 80
UseTab: Always
IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
NamespaceIndentation: None
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
PointerAlignment: Left
AlignOperands: Align
BreakBeforeBinaryOperators: NonAssignment
...
